.error-message {
    color: red;
    text-align: center;
    padding: 1rem 0
}

.loading-message {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: 1.25rem;
}

.loading-message-sm {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.1rem;
}

.loading-message-xs {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
}


