.content-item {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: fixed;
}

.content-item tr {
  background-color: #f7f7f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: 100px;
  display: table-row;
}

.content-item.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.content-item.dark tr {
  background-color: #2d2d2d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.content-item td {
  padding: 10px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.content-item.dark td {
  color: #f0f0f0;
}

.content-item td:nth-child(1) {
  width: 7%;
}

.content-item td:nth-child(2) {
  width: 15%;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 50px;
}

.content-item.dark td:nth-child(2) {
  color: #ffffff;
}

.content-item td:nth-child(3) {
  width: 23%;
  font-size: 14px;
  color: #666;
}

.content-item.dark td:nth-child(3) {
  color: #bbbbbb;
}

.content-item td:nth-child(4) {
  width: 22%;
  font-size: 14px;
  font-weight: 500;
  color: #ff9800;
}


.content-item.dark td:nth-child(4) {
  color: #ff9800;
}

.content-item td:nth-child(5) {
  width: 15%;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
}

.content-item.dark td:nth-child(5) {
  color: #bbbbbb;
}

.content-item img {
  display: block;
  width: 60%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}



.content-item.menuXs td:nth-child(2) {
  font-size: 12px;
  padding-right: 10px;
  width: 20%;
}

.content-item.menuSm td:nth-child(2) {
  font-size: 13px;
  padding-right: 20px;
  width: 18%;
}

.content-item.menuMd td:nth-child(2) {
  font-size: 14px;
  padding-right: 30px;
  width: 15%;
}


.content-item.menuXs img {
  width: 40%;
}

.content-item.menuSm img {
  width: 50%;
}

.content-item.menuMd img {
  width: 60%;
}