.container {
    background-color: #f7f7f7;
    ;
    margin: 0px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-container {
    width: 100%;
    margin: 20px 0px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.price {
    margin-top: 20px;
    padding-left: 10px;
    color: #ee8915;
}